@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body,
input,
select,
textarea,
button,
p,
span,
div,
i,
em,
img,
table,
tr,
th,
td,
strong,
a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
header,
footer,
section {
  margin: 0;
  border: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 400;
  border-radius: 0;
  appearance: none;
  font-size: 1.05rem;
  font-style: normal;
  list-style-type: none;
  box-sizing: border-box;
  vertical-align: baseline;
  font-optical-sizing: auto;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'wdth' 100;
}

a, button, div {
  transition: all 0.2s ease-in-out;
}

button {
  cursor: pointer;
  background-color: transparent;
}

.button {
  padding: 10px 20px;
  border-radius: 10px;
}

.mini-button {
  border-radius: 5px;
  border: 1px solid #dadada;
  background-color: #ffffff;
}

.mini-button:hover {
  background-color: #f5f5f5;
}

.button:active,
.mini-button:active {
  opacity: 0.8;
}

.mini-button.active {
  background-color: #dadada;
}

.mini-button span {
  font-size: 1.5em;
  color: #444444;
}

.button.gray {
  background-color: #dadada;
}

.button.black {
  color: #ffffff;
  background-color: #222222;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-gap-small {
  gap: 5px;
}

.flex-gap-normal {
  gap: 10px;
}

.flex-gap-medium {
  gap: 15px;
}

.flex-gap-large {
  gap: 20px;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-h-center {
  justify-content: center;
}

.flex-v-center {
  align-items: center;
}

.flex-end {
  justify-content: end;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.relative {
  position: relative;
}

.container {
  margin: 10px;
  user-select: none;
  white-space: nowrap;
  --webkit-user-select: none;
}

.stage {
  padding: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
  letter-spacing: 10px;
  background-color: #7a0404;
}

.new-row {
  margin-top: 10px;
}

.row {
  padding: 6px 0;
}

.row:hover {
  background-color: #f5f5f5;
}

.row-label {
  display: flex;
  min-width: 60px;
  min-height: 30px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.seat {
  display: flex;
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
  font-size: 0.7em;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.seat.empty {
  color: #ffffff;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.seat.available {
  color: #111111;
  background-color: #ffffff;
  border: 1px solid #222222;
  border-bottom: 5px solid #222222;
}

.seat:hover {
  background-color: #dadada;
}

.seat:active {
  opacity: 0.8;
}

.seat.empty.active {
  background-color: #dadada;
}

.seat.available.active {
  color: #ffffff;
  background-color: #7a0404;
  border-bottom: 5px solid red;
}

.buttons {
  margin-top: 40px;
}

.dropdown {
  top: 35px;
  z-index: 9999;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #222222;
}

.dropdown button {
  display: flex;
  color: #ffffff;
  font-size: 0.8em;
  text-align: left;
  align-items: center;
  padding: 8px 15px 8px 10px;;
}

.dropdown button span {
  font-size: 1.25em;
  margin-right: 5px;
}

.dropdown button:first-child {
  padding-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown button:last-child {
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown button:hover {
  background-color: #333333;
}

.dropdown button:active {
  opacity: 0.6;
}

.dropdown button.active {
  background-color: #333333;
}

.dropdown-form {
  padding: 0 0 10px 10px;
  background-color: #333333;
}

.dropdown-form input {
  width: 130px;
  font-size: 0.8em;
  text-align: center;
  border-radius: 5px;
}

.dropdown-form button {
  padding: 10px !important;
  border-radius: 0 !important;
  text-align: center !important;
}

.dropdown-form button:hover {
  background-color: transparent;
}

.react-tooltip {
  font-size: 0.7em !important;
}